body {
  overflow-x: hidden;
  width: 100%;
  background: #fff;
  color: #121813;
}

.loader {
  position: relative;
}

.main {
  > section {
    padding-top: var(--padding-top);
    min-height: 100vh;

    // background-color: #121813;
    // background-color: #f0f0f0;
  }
}

.main-intro {
  position: relative;
  height: 120vh;
  background-color: #fff;

  &-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-text {
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 12px;

    p:last-of-type {
      margin-top: 5px;
    }
  }

  &-wrap {
    z-index: 1;
  }

  &-button {
    margin-bottom: 10px;
    padding: 2px 10px;
    border: none;
    background: #121813;
    color: #f0f0f0;
    font-size: 16px;
    font-family: var(--font-azeret-mono), monospace;
    transition: transform 0.1s ease-out;
    cursor: pointer;

    &:active {
      transform: scale(0.97);
    }
  }

  &-item {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    text-align: right;
    text-transform: uppercase;

    p {
      margin-bottom: 4px;
      padding-right: 10px;
      font-size: 12px;
    }
  }

  .grid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.main-about {
  background-color: #121813;
  color: #fff;
}

.main-work {
  background-color: #121813;
  color: #fff;
}

/* 아웃트로 */
.main-outro {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  height: 100vh;
  background-color: #121813;
  color: #fff;

  > div {
    flex: 1;
  }

  .service {
    &-item {
      display: flex;
      opacity: 0.2;
      align-items: center;
      gap: 2rem;
      height: 100px;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &-num {
        font-size: 16px;
      }

      &-text {
        display: inline-block;
        font-weight: 400;
        font-size: 3.7vw;
        font-family: var(--font-inter), sans-serif;
        text-transform: uppercase;
      }
    }
  }
}

.work {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  padding: var(--layout-padding);
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;

  &-content {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;

    &-wrap {
      display: none;
      width: 100%;
      height: 100%;

      &.is-active {
        display: block;
      }
    }

    &-spiral {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  &-view {
    position: relative;
    z-index: 10;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 4px 0;
      background-color: #fff;
    }

    &-text {
      position: absolute;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);

      p {
        margin-top: 10px;
        padding: 0 4px;
        background-color: var(--color-ink);
        color: #f0f0f0;
      }
    }

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color-ink);
    }

    &-toggle {
      border: none;
      background-color: transparent;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 20;
    margin: 0 auto;
    padding-top: 40px;
    width: fit-content;
    text-align: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;

      .work-list-item {
        opacity: 0.2;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
          mix-blend-mode: difference;
        }
      }
    }

    &-title {
      font-size: 5rem;
      line-height: 4rem;
    }

    &-item {
      padding: 0.75rem 0;
      width: fit-content;
      cursor: pointer;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 2px;
    }
  }

  &-img {
    &-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transform: translate(-50%, -50%);

      &.is-active {
        display: block;
      }

      &:nth-of-type(1) {
        background-image: url('/images/01.jpg');
      }

      &:nth-of-type(2) {
        background-image: url('/images/02.jpg');
      }

      &:nth-of-type(3) {
        background-image: url('/images/03.jpg');
      }

      &:nth-of-type(4) {
        background-image: url('/images/04.jpg');
      }

      &:nth-of-type(5) {
        background-image: url('/images/05.jpg');
      }

      &:nth-of-type(6) {
        background-image: url('/images/06.jpg');
      }
    }
  }

  &-canvas {
    &-wrap {
      display: flex;
      gap: 20px;
      position: relative;
      background-color: #fff;

      img {
        pointer-events: none;
        user-select: none;
        -webkit-user-drag: none;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      padding-top: 20px;
      white-space: nowrap;

      span:nth-of-type(1) {
        font-weight: bold;
      }

      span:not(:first-child) {
        font-size: 14px;
      }
    }

    &-item {
      border: 1px solid var(--color-ink);
    }

    .corner {
      position: absolute;
      width: 0.4vw;
      height: 0.4vw;
      background: #000;
    }

    .corner.one {
      top: -0.2vw;
      right: -0.2vw;
    }

    .corner.two {
      right: -0.2vw;
      bottom: -0.2vw;
    }

    .corner.three {
      top: -0.2vw;
      left: -0.2vw;
    }

    .corner.four {
      bottom: -0.2vw;
      left: -0.2vw;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  padding: var(--layout-padding);
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;

  &-top {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-wrap {
      padding: 2rem;
      width: 40%;
      border: 1px solid #666;
      border-bottom: none;
    }

    h2 {
      margin-bottom: 1rem;
      padding: 0 4px;
      width: fit-content;
      background-color: #121813;
      color: #f0f0f0;
      font-weight: 300;
      font-size: 1rem;
      letter-spacing: -0.8;
      text-align: center;
    }
  }

  &-typing {
    display: flex;
    align-items: flex-end;
    font-size: 3.25rem;

    &-service {
      letter-spacing: -2px;

      &.close {
        font-size: 2rem;
      }
    }

    &-num {
      display: flex;
      overflow: hidden;
      flex-shrink: 0;
      z-index: 10;
      margin-right: 20px;
      vertical-align: middle;
      font-size: 1.25rem;
    }
  }

  &-service {
    overflow: hidden;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    height: 0;
    border-bottom: 1px dashed #666;

    &-list {
      overflow: hidden;
    }

    &-item {
      overflow: hidden;
      font-size: 3.25rem;
    }

    &-num {
      margin-right: 20px;
      font-size: 1.25rem;
    }
  }

  &-marquee {
    display: flex;
    overflow: hidden;
    padding: 4px;
    width: 100%;
    background-color: #fff;
    font-size: 1rem;

    p {
      flex-shrink: 0;
      white-space: nowrap;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: var(--layout-padding);
  min-height: 100vh;
  background-color: #f0f0f0;
  color: #121813;
  font-family: var(--font-inter), sans-serif;

  &-text {
    position: relative;
    padding: 0;
    width: 100%;
    text-align: justify;
    text-transform: uppercase;

    &-en {
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: 3.9vw;
      line-height: 3.4vw;
      letter-spacing: -0.01em;
    }

    &-ko {
      color: #666;
      font-size: 1vw;
    }
  }

  &-info {
    font-size: 1vw;
    font-family: var(--font-azeret-mono), monospace;
    text-align: center;

    i {
      margin-right: 4px;
      color: #a0a0a0;
      font-size: 0.75vw;
    }
  }

  .coordinates {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 1vw;
  }
}
