body {
  overflow-x: hidden;
  width: 100%;
  background: #fff;
  color: #121813;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: var(--color-ink);
  color: var(--color-light);

  &-text {
    margin-bottom: 2rem;
  }

  &-mask {
    position: relative;
    width: 80%;
    max-width: 300px;
    height: 80px;

    &-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &-item {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('/images/hero.jpg') no-repeat 50% 50%;
      background-size: cover;

      &:nth-child(1) {
        clip-path: polygon(0% 0, 0% 0, 0% 100%, 0% 100%);
      }

      &:nth-child(2) {
        clip-path: polygon(10% 0, 10% 0, 10% 100%, 10% 100%);
      }

      &:nth-child(3) {
        clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%);
      }

      &:nth-child(4) {
        clip-path: polygon(30% 0, 30% 0, 30% 100%, 30% 100%);
      }

      &:nth-child(5) {
        clip-path: polygon(40% 0, 40% 0, 40% 100%, 40% 100%);
      }

      &:nth-child(6) {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
      }

      &:nth-child(7) {
        clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%);
      }

      &:nth-child(8) {
        clip-path: polygon(70% 0, 70% 0, 70% 100%, 70% 100%);
      }

      &:nth-child(9) {
        clip-path: polygon(80% 0, 80% 0, 80% 100%, 80% 100%);
      }

      &:nth-child(10) {
        clip-path: polygon(90% 0, 90% 0, 90% 100%, 90% 100%);
      }
    }
  }
}

.loader {
  position: relative;
}

.page-overlay-top {
  transform: translateY(-100%); // 기본은 안 보임
}

.page-overlay-bottom {
  transform: translateY(100%);
}

.main {
  > section {
    padding: var(--layout-padding);
    min-height: 100vh;

    // background-color: #121813;
    // background-color: #f0f0f0;
  }
}

.main-intro {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 115vh;
  background-color: #fff;

  &-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-text {
    padding-top: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 12px;

    p:last-of-type {
      margin-top: 5px;
    }
  }

  &-wrap {
    z-index: 1;
  }

  &-button {
    margin-bottom: 10px;
    padding: 2px 10px;
    border: none;
    background: #121813;
    color: #f0f0f0;
    font-size: 16px;
    font-family: var(--font-azeret-mono), monospace;
    transition: transform 0.1s ease-out;
    cursor: pointer;

    &:active {
      transform: scale(0.97);
    }
  }

  &-item {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    text-align: right;
    text-transform: uppercase;

    p {
      margin-bottom: 4px;
      padding-right: 10px;
      font-size: 12px;
    }
  }

  .grid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &-down {
    position: absolute;
    z-index: 10;
    bottom: calc(15vh + 20px);
    left: 50%;
    mix-blend-mode: difference;
    color: var(--color-light);
    transform: translateX(-50%);
  }
}

.main-about {
  position: relative;
  z-index: 5;
  background-color: #121813;
  color: #fff;

  &-wrap {
    margin: 0 auto;
    width: var(--content-width);
  }

  &-title {
    margin-top: -10vh;
    font-size: 2rem;
    text-align: justify;
    text-transform: uppercase;

    @media (width <= 500px) {
      font-size: 1rem;
    }

    span {
      display: inline-block;
      width: 12vw;
      height: 100%;
    }
  }

  &-camera {
    position: relative;
    margin-top: 10vh;
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .camera {
    position: relative;
    width: 100%;
    height: 100%;

    &-canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: auto;
    }

    &-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: absolute;
      z-index: 1;
      bottom: -5rem;
      width: 100%;

      @media (width <= 500px) {
        flex-direction: column;
        bottom: -8rem;
        font-size: 0.75rem;
      }

      label {
        display: flex;
        gap: 1rem;
      }

      input[type='range'] {
        position: relative;
        top: 10px;
        width: 100px;
        height: 1px;
        outline: none;
        background: var(--color-light);
        appearance: none;
        cursor: pointer;

        @media (width <= 500px) {
          top: 7px;
        }

        &::-webkit-slider-thumb {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: var(--color-light);
          appearance: none;
          cursor: pointer;
        }
      }
    }

    &-view {
      position: relative;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &-corner {
      position: absolute;
      width: 10%;
      height: 15%;
      border: 2px solid #fff;

      &.one {
        top: 0;
        left: 0;
        border-width: 1px 0 0 1px;
      }

      &.two {
        top: 0;
        right: 0;
        border-width: 1px 1px 0 0;
      }

      &.three {
        bottom: 0;
        left: 0;
        border-width: 0 0 1px 1px;
      }

      &.four {
        right: 0;
        bottom: 0;
        border-width: 0 1px 1px 0;
      }
    }

    &-time {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @keyframes blink {
        0%,
        100% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }
      }

      i {
        display: inline-block;
        position: relative;
        top: -3px;
        margin-right: 10px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: red;
        animation: blink 1.5s ease-in-out infinite;
      }
    }

    &-ev {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);

      &-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: #fff;
        }
      }

      &-tick {
        display: block;
        height: 1px;
        background-color: currentcolor;

        &.long {
          width: 12px;
        }

        &.short {
          width: 8px;
        }
      }

      &-pointer {
        position: absolute;
        top: 50%;
        right: -12px;
        font-size: 10px;
        transform: translateY(-50%) rotate(60deg);
      }
    }

    &-center {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40%;
      height: 50%;
      transform: translate(-50%, -50%);

      > div {
        position: relative;
        width: 100%;
        height: 100%;
      }

      &-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.5rem;
        transform: translate(-50%, -50%);
      }
    }

    &-bottom {
      display: flex;
      gap: 2rem;
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (width <= 500px) {
        font-size: 0.5rem;
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 20vh;
    text-align: justify;

    @media (width <= 768px) {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
    }

    @media (width <= 500px) {
      font-size: 0.75rem;
    }
  }

  &-text {
    margin: 0 auto;
    padding-top: 10vh;
    letter-spacing: -1px;
    text-align: center;

    @media (width <= 500px) {
      font-size: 0.75rem;
    }
  }
}

.main-work {
  background-color: #121813;
  color: #fff;
}

/* 아웃트로 */
.main-outro {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0 !important;
  height: 100vh;
  background-color: #121813;
  color: #fff;

  > div {
    flex: 1;
  }

  &-wrap {
    width: 100%;
    height: 100%;
  }

  // .service {
  //   &-item {
  //     display: flex;
  //     opacity: 0.2;
  //     align-items: center;
  //     gap: 2rem;
  //     height: 100px;
  //     cursor: pointer;

  //     &:hover {
  //       opacity: 1;
  //     }

  //     &-num {
  //       font-size: 16px;
  //     }

  //     &-text {
  //       display: inline-block;
  //       font-weight: 400;
  //       font-size: 3.7vw;
  //       text-transform: uppercase;
  //     }
  //   }
  // }
}

.work {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  padding: var(--layout-padding);
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;

  &-content {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;

    &-wrap {
      display: none;
      width: 100%;
      height: 100%;

      &.is-active {
        display: block;
      }
    }

    &-spiral {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  &-view {
    position: relative;
    z-index: 10;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 4px 0;
      background-color: #fff;
    }

    &-text {
      position: absolute;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);

      p {
        margin-top: 10px;
        padding: 0 4px;
        background-color: var(--color-ink);
        color: #f0f0f0;
        white-space: nowrap;
      }
    }

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color-ink);
    }

    &-toggle {
      border: none;
      background-color: transparent;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 20;
    margin: 0 auto;
    padding-top: 40px;
    width: fit-content;
    text-align: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;

      .work-list-item {
        opacity: 0.2;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
          mix-blend-mode: difference;
        }
      }
    }

    &-title {
      font-size: var(--work-text);
      line-height: 4rem;
      white-space: nowrap;

      @media (width <= 500px) {
        line-height: 2rem;
      }
    }

    &-item {
      padding: 0.75rem 0;
      width: fit-content;
      cursor: pointer;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 2px;
    }
  }

  &-img {
    &-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transform: translate(-50%, -50%);

      &.is-active {
        display: block;
      }

      &:nth-of-type(1) {
        background-image: url('/images/01.jpg');
      }

      &:nth-of-type(2) {
        background-image: url('/images/02.jpg');
      }

      &:nth-of-type(3) {
        background-image: url('/images/03.jpg');
      }

      &:nth-of-type(4) {
        background-image: url('/images/04.jpg');
      }

      &:nth-of-type(5) {
        background-image: url('/images/05.jpg');
      }

      &:nth-of-type(6) {
        background-image: url('/images/06.jpg');
      }
    }
  }

  &-canvas {
    &-wrap {
      display: flex;
      gap: 20px;
      position: relative;
      background-color: #fff;

      img {
        pointer-events: none;
        user-select: none;
        -webkit-user-drag: none;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      padding-top: 20px;
      white-space: nowrap;

      span:nth-of-type(1) {
        font-weight: bold;
      }

      span:not(:first-child) {
        font-size: 14px;
      }
    }

    &-item {
      border: 1px solid var(--color-ink);
    }

    .corner {
      position: absolute;
      width: 0.4vw;
      height: 0.4vw;
      background: #000;
    }

    .corner.one {
      top: -0.2vw;
      right: -0.2vw;
    }

    .corner.two {
      right: -0.2vw;
      bottom: -0.2vw;
    }

    .corner.three {
      top: -0.2vw;
      left: -0.2vw;
    }

    .corner.four {
      bottom: -0.2vw;
      left: -0.2vw;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  padding: var(--layout-padding);
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;

  &-top {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      @media (width <= 500px) {
        p {
          font-size: 0.75rem;
        }
      }
    }

    &-wrap {
      padding: 2rem;
      width: 40%;
      border: 1px solid #666;
      border-bottom: none;

      @media (width <= 1440px) {
        width: 65%;
      }

      @media (width <= 1024px) {
        width: 80%;
      }

      @media (width <= 500px) {
        padding: 1.5rem;
        width: 90%;
      }
    }

    h2 {
      padding: 0 4px;
      width: fit-content;
      background-color: #121813;
      color: #f0f0f0;
      font-weight: 300;
      font-size: 1rem;
      letter-spacing: -0.8;
      text-align: center;

      @media (width <= 500px) {
        font-size: 0.75rem;
      }
    }
  }

  &-typing {
    display: flex;
    align-items: flex-end;
    font-size: var(--typing-text);

    &-service {
      letter-spacing: -2px;

      &.close {
        font-size: 2rem;

        @media (width <= 500px) {
          font-size: 1rem;
        }
      }
    }

    &-num {
      display: flex;
      overflow: hidden;
      flex-shrink: 0;
      z-index: 10;
      margin-right: 20px;
      vertical-align: middle;
      font-size: 1.25rem;
    }
  }

  &-service {
    overflow: hidden;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    height: 0;
    border-bottom: 1px dashed #666;

    &-list {
      overflow: hidden;
    }

    &-item {
      overflow: hidden;
      font-size: var(--typing-text);
    }

    &-num {
      margin-right: 20px;
      font-size: 1.25rem;
    }
  }

  &-marquee {
    display: flex;
    overflow: hidden;
    padding: 4px;
    width: 100%;
    background-color: #fff;
    font-size: 1rem;

    @media (width <= 500px) {
      font-size: 0.75rem;
    }

    p {
      flex-shrink: 0;
      white-space: nowrap;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: var(--layout-padding);
  min-height: 100vh;
  background-color: #f0f0f0;
  color: #121813;
  font-family: var(--font-inter), sans-serif;

  &-text {
    position: relative;
    padding: 0;
    width: 100%;
    text-align: justify;
    text-transform: uppercase;

    &-en {
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: var(--footer-en);
      line-height: var(--footer-en);
      letter-spacing: -0.01em;
    }

    &-ko {
      color: #666;
      font-size: var(--footer-ko);
    }
  }

  &-info {
    padding-top: 20px;
    border-top: 1px solid #121813;
    font-size: var(--footer-text);
    font-family: var(--font-azeret-mono), monospace;
    text-align: center;

    i {
      margin-right: 4px;
      color: #a0a0a0;
      font-size: var(--footer-i);
    }
  }

  .coordinates {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: var(--footer-ko);
  }
}

.main-outro-spacer {
  height: 100vh; // 추가 스크롤 여유
}
